---
layout: layouts/home.njk
eleventyNavigation:
 key: contact
 order: 4
---
hello from contact page
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Eleventy Base Blog first</title>
		<meta name="description" content="I am writing about my experiences as a naval navel-gazer.">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="Eleventy Base Blog first">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="Eleventy Base Blog first">
        </head>
        <body>
        <form name="contact" netlify>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>

    </html>